{
  "extends": ["stylelint-config-standard-scss", "stylelint-config-prettier-scss"],
  "rules": {
    "declaration-empty-line-before": "never",
    "scss/dollar-variable-pattern": null,
    "no-descending-specificity": null,
    "selector-class-pattern": null,
    "value-keyword-case": null,
    "alpha-value-notation": "number",
    "rule-empty-line-before": "always-multi-line",
    "selector-no-vendor-prefix": null,
    "keyframes-name-pattern": null,
    "scss/at-extend-no-missing-placeholder": null,
    "declaration-block-no-redundant-longhand-properties": null,
    "scss/dollar-variable-empty-line-before": null,
    "scss/at-mixin-pattern": null,
    "property-no-vendor-prefix": null,
    "custom-property-pattern": null,
    "scss/double-slash-comment-whitespace-inside": null,
    "scss/no-global-function-names": null,
    "function-name-case": null,
    "selector-pseudo-class-no-unknown": [
      true,
      {
        "ignorePseudoClasses": ["global"]
      }
    ]
  },
  "ignoreFiles": [
    "src/app/style/global/**/*.scss"
  ]
}
